@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Vina+Sans&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

body {
	text-align: center;
	margin: 0;
}

button {
	padding: 10px 15px;
	border: none;
	cursor: pointer;
}

span {
	font-size: 20px;
	padding-left: 20px;
}

strong {
	font-size: 20px;
}
.clearInput {
	display: none;
}

.cart {
	margin-left: 30px;
	border: 1px solid yellowgreen;
	background-color: transparent;
}

p {
	padding-left: 30px;
	text-align: center;
}

.active-menu-btn {
	background-color: green;
	color: white;
}

main {
	margin: 20px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.card {
	margin: 5px;
	width: 48%;
	border: 1px solid rgb(226, 224, 224);
	display: flex;
	padding: 10px;
	border-radius: 5px;
}

.card img {
	width: 100px;
	height: 100px;
}

.card-left {
	width: 20%;
}

.card-right {
	width: 80%;
}

#search-input {
	margin-top: 20px;
	height: 37px;
	font-size: 16px;
	width: 40%;
}

button {
	font-size: 15px;
}

.addToCartBtn {
	color: white;
	background-color: green;
}

.orderBtn,
.clearCart {
	margin-left: 20px;
	border: 1px solid yellowgreen;
	background-color: transparent;
}

.hoverStyle:hover {
	background-color: yellowgreen;
	color: black;
}

.greenBg {
	background-color: yellowgreen;
}
